name: Java Maven Build & Publish Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: List directory contents
      run: ls -R  # List all files and directories to verify path

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Build with Maven
      run: mvn -B package --file Automation_Test/livis/pom.xml
      working-directory: ./livis   # Ensure this path is correct
      

  publish-job:
    runs-on: ubuntu-latest
    needs: build_test
    steps:
    - uses: actions/checkout@v3
    - name: List directory contents
      run: ls -R  # List all files and directories to verify path
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
    - run: mvn --batch-mode --update-snapshots verify
      working-directory: ./livis   # Ensure this path is correct
    - run: mkdir staging && cp target/*.jar staging
      working-directory: ./livis   # Ensure this path is correct
    - uses: actions/upload-artifact@v3
      with:
        name: Package
        path: staging
